.inc {
  width: 70px;
  height: 20px;
}

.title {
  font-size: 12px;
  list-style: none;
  display: flex;
  color: darkgray;
  float: right;
  justify-content: space-between;
}

.growth {
  width: 60%;
  height: 70%;
  position: relative;
  top: 30px;
  left: 50%;
  right: 0;
}

.growth__img {
  margin:  0 30% 0 auto;
  display: block;
  top: 30%;
  right: 50%;
  width: 70%;
  height: 50%;
}

.title-wrap {
  position: absolute;
  top: 53px;
  left: -30%;
}

.absolute {
  font-family: 'Indie Flower';
  font-size: 50px;
  color: mediumvioletred;
}

span {
  color: darkturquoise;
}

.commit {
  color: mediumvioletred;
}

.text {
  color: darkgray;
  font-size: 14px;
}

.example {
  font-family: 'Indie Flower';
  font-size: 8px;
  margin-left: 20%;
  color: mediumvioletred;
  left: 50px;
}

.sample {
  font-size: 14px;
  margin-left: 20%;
  color: grey;
  left: 50px;
}

.blod {
  border: solid 0.5px darkgray;
}

.news {
  font-size: 14px;
  margin-left: 20%;
  color: darkgray;
  display: flex;
}

.btn {
  width: 100px;
  padding: 5px 0;
  color: #fff;
  border-radius: 20px;
  background-color: mediumvioletred;
  text-align: center;
  margin-left: 20%;
  margin: 5px;
  display: block;
}

.blod-wrap {
  border: solid 0.5px darkgray;
}

.item {
  background-color: #ebebeb;
  padding: 60px 0;
  margin-top: 100px;
  justify-content: space-around;
}

.about {
  font-family: 'Indie Flower';
  font-size: 8px;
  color: mediumvioletred;
  position: relative;
  top: 50%;
  left: 30%;
  text-align: justify;
}

.Technology {
  font-size: 14px;
  color: grey;
  top: 50%;
  left: 30%;
}

.item__img img {
  width: 50%;
  height: 50%;
  right: 30%;
  margin: 30px 10px;
}

.item__img {
top: 50%;
display: flex;
width: 50%;
height: 50%;
}

.item__content {
  color: grey;
  top: 30%;
  left: 50px;
  margin-left: 0%;
}

.service {
  font-family: 'Indie Flower';
  font-size: 8px;
  color: mediumvioletred;
  position: relative;
  top: 50%;
  left: 30%;
  text-align: justify;
}

.service__wrap {
  font-size: 14px;
  color: grey;
  top: 50%;
  left: 30%;
}

h4 {
  font-size: 14px;
  text-align: center;
  color: #fff;
}

.grid {
  background: mediumvioletred;
  height: 20%;
  width: 30%;
  display: flex;
}